@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8f00ff;
  --color-secondary: #a32eff;
  --color-base-200: #b75cff;
  --color-base-300: #cb8aff;
  --color-accent: #cac2b7;
  --color-base-400: #f0ede9;
}

* {
  font-family: "Poppins", sans-serif;
}

.active {
  color: #8f00ff;
}
